# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# dotenv
.env

# virtualenv
.venv
venv/
ENV/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

# Word temporary
~$*.doc*

# Excel temporary
~$*.xls*

# Excel Backup File
*.xlk

# PowerPoint temporary
~$*.ppt*

# data
data

# model
model/

#output
output/
tmp/
res/

.idea/
dataset/data_processing/processed
dataset/data_scraping/Ancient/Syria/SyriaHistoricalEarthquakes.csv
dataset/data_scraping/Ancient/Syria/The historical earthquakes of Syria.pdf
dataset/data_scraping/Ancient/Wikipedia/WikiHistoricalEarthquakes.csv
dataset/data_scraping/Argentina/raw/clean-catalog.xml
dataset/data_scraping/Argentina/clean/Argentina Andean Earthquakes (2016-2017).csv
dataset/data_scraping/Canada/raw/Canada-19850101-20240412.txt
dataset/data_scraping/Canada/clean/Canada (1985-2024).csv
dataset/data_scraping/East_Africa/raw/SouthEARS_EarthquakeCatalog.csv
dataset/data_scraping/East_Africa/raw/East Africa Rift System (1994-2022).csv
dataset/data_scraping/East_Africa/clean/East Africa Rift System (1994-2022).csv
dataset/data_scraping/GHEA/raw/GHEA-data.txt
dataset/data_scraping/GHEA/clean/GHEA (1000-1903).csv
dataset/data_scraping/Intensity/raw/eqint_tsqp.csv
dataset/data_scraping/Intensity/raw/U.S. Earthquake Intensity Database (1638-1985).csv
dataset/data_scraping/Intensity/clean/U.S. Earthquake Intensity Database (1638-1985).csv
dataset/data_scraping/NOAA/raw/NOAA-20240412.tsv
dataset/data_scraping/Pacific_Northwest/raw/PNW Tremors (2009-2024).csv
dataset/data_scraping/NOAA/raw/NCEI-WDS-Earthquakes.tsv
dataset/data_scraping/NOAA/clean/NOAA NCEI-WDS (0-2024).csv
dataset/data_scraping/Pacific_Northwest/clean/PNW Tremors (2009-2024).csv
dataset/data_scraping/SoCal/raw/
dataset/data_scraping/SoCal/clean/SCEDC (1932-2024).csv
dataset/data_scraping/South_Asia/raw/11069_2016_2665_MOESM2_ESM.csv
dataset/data_scraping/South_Asia/raw/South Asia (1900-2014).csv
dataset/data_scraping/South_Asia/clean/South Asia (1900-2014).csv
dataset/data_scraping/Texas/raw/texnet_events.csv
dataset/data_scraping/Texas/raw/Texas (2016-2023).csv
dataset/data_scraping/Texas/clean/Texas (2016-2023).csv
dataset/data_scraping/Turkey/raw/turkey_earthquakes(1915-2021).csv
dataset/data_scraping/Turkey/clean/Turkey (1915-2021).csv
dataset/data_scraping/World_Tremor/global
dataset/data_scraping/World_Tremor/japan
dataset/data_scraping/World_Tremor/clean
dataset/data_merging/Various-Catalogs.csv
dataset/data_merging/usgs_pre_1950/raw
dataset/data_merging/final/Completed-Merge.csv
dataset/data_merging/final/USGS_SAGE_Merged.csv
dataset/data_merging/final/Various-Catalogs.csv