# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# dotenv
.env

# virtualenv
.venv
venv/
ENV/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

# Word temporary
~$*.doc*

# Excel temporary
~$*.xls*

# Excel Backup File
*.xlk

# PowerPoint temporary
~$*.ppt*

# data
data

# model
model/

#output
output/
tmp/
res/

.idea/
src/scraper/Argentina/raw/clean-catalog.xml
src/scraper/Argentina/clean/Argentina Andean Earthquakes (2016-2017).csv
src/scraper/Canada/raw/Canada-19850109-20230621.txt
src/scraper/Canada/clean/Canada (1985-2023).csv
src/scraper/Central Asia/raw/EMCA Central Asia Earthquake Catalogue.csv
src/scraper/Central Asia/clean/EMCA Central Asia (10-2009).csv
src/scraper/Corinth/raw/Marathias_seq.txt
src/scraper/Corinth/clean/Corinth Gulf (2020-2021).csv
src/scraper/East Africa/raw/SouthEARS_EarthquakeCatalog.csv
src/scraper/East Africa/clean/East Africa Rift System (1994-2022).csv
src/scraper/GHEA/raw/GHEA-data.txt
src/scraper/GHEA/clean/GHEA (1000-1903).csv
src/scraper/Intensity/raw/eqint_tsqp.csv
src/scraper/Intensity/clean/U.S. Earthquake Intensity Database (1638-1985).csv
src/scraper/NCEDC/raw
src/scraper/NCEDC/clean/NCEDC (1984-2023).csv
src/scraper/New Madrid/raw/New Madrid Earthquakes 1974-2023.txt
src/scraper/New Madrid/clean/New Madrid (1974-2023).csv
src/scraper/NOAA/raw/NCEI-WDS-Earthquakes.tsv
src/scraper/NOAA/clean/NOAA NCEI-WDS (0-2023).csv
src/scraper/Pacific Northwest/raw/pacific-northwest-tremors-2009-2023.csv
src/scraper/Pacific Northwest/clean/PNW Tremors (2009-2023).csv
src/scraper/SoCal/raw/SearchResults.txt
src/scraper/SoCal/clean/SCEDC (1932-2023).csv
src/scraper/Texas/raw/texnet_events.csv
src/scraper/Texas/clean/Texas (2016-2023).csv
src/scraper/Turkey/raw/turkey_earthquakes(1915-2021).csv
src/scraper/Turkey/clean/Turkey (1915-2021).csv
src/scraper/Utah/raw/detections.txt
src/scraper/Utah/clean/Utah (2016-2019).csv
